<html>
<head>
  <title>shop</title>
  {{ stylefrag }}
</head>
<body>
  {{ hdrfrag }}
  <section>
    <h2>Procurement bills</h2>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>createdon</th>
          <th>paid</th>
          <th>source</th>
        </tr>
      </thead>
      <tbody>
      {% for pb in procbills %}
      <tr>
        <td>[{{pb.id}}]</td>
        <td>{{pb.createdon}}</td>
        <td>{{pb.paid}}</td>
        <td>{{pb.source.estname}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
</body>
</html>
